body {
	background-image: url("blue.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100%;
	background-color: #CDD0D0;
}

p {
	font-family: Georgia;
	font-size: 15px;
	color: #000000;
	text-align: justify;
	padding-top: 10px;
	padding-right: 150px;
	padding-bottom: 10px;
	padding-left: 25px;
	line-height: 130%;
	
}
img {
	border-color: 000000;
	border-style: double;
	border-width: 5px;
}

div {
	padding-top: 25px;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-left: 50px;
}
#div1 {
	padding-top: 25px;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-left: 50px;
	background: rgba(76, 175, 80, 0.3);
}
h1 {
	color: #05A7F8;
	font-family: Georgia;
	text-align: center;
	
}
h2 {
	color: #05A7F8;
	font-family: Georgia;
}
h3 {
	color: #05A7F8;
	font-family: Georgia;
}
h4 {
	color: #05A7F8;
	font-family: Georgia;
}
h5 {
	color: #05A7F8;
	font-family: Georgia;
}
h6 {
	color: #05A7F8;
	font-family: Georgia;
}
table {
	text-align: right;
}

a {
	color: #ff3399;
	text-decoration: none;
}
a:visited {
	color: #0099ff;
}
a:hover{
	color: #ffffff;
	text-decoration: underline;
}
a:active {
	color: #990099;

}